DATABASE_URL=postgresql://derivarena:derivarena@localhost:5436/derivarena
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_DERIV_APP_ID=
DERIV_APP_ID=
DERIV_ACCESS_TOKEN=
OPENAI_API_KEY=
PRIVY_APP_ID=
PRIVY_APP_SECRET=
NEXT_PUBLIC_PRIVY_APP_ID=
JWT_SECRET=
ADMIN_DERIV_IDS=
MIGRATION_SECRET=
